.form {
  width: 400px;
  border: 2px solid #ede8e8;
  padding: 30px 20px;
}

.label-delay {
  display: block;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}

.label-delay input {
  width: 350px;
  border-radius: 4px;
  border: 1px solid #808080;
  outline: transparent;

  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 10px 16px;
  margin-top: 8px;
}

fieldset {
  display: flex;
  align-items: center;
  width: 350px;
  border-radius: 4px;
  border: 1px solid #808080;

  margin-bottom: 24px;
}

.legend {
  color: #2e2f42;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.label-radio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  color: #2e2f42;
  font-size: 16px;
  line-height: 1.5;

  padding: 8px 16px;
}

.label-radio:hover,
.label-radio input:checked + span {
  font-weight: 600;
}

.label-radio input {
  margin-right: 8px;
}

.btn-create {
  width: 350px;

  border-radius: 8px;
  background: #4e75ff;
  border: transparent;

  color: #fff;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;

  padding: 8px 16px;
  transition: 0.3s ease;
}

.btn-create:hover {
  background: #6c8cff;
}
